:root{
    --profile-width: 300px;
    --profile-height: 95vh;

    /*profile-size + 15*/
    --repositories-magin-left: calc(var(--profile-width) + 15px);
}

/*Desktop*/
@media only screen and (min-width: 768px){
    body{
        background-image: url("../img/bg.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color:white;
    }

    .infoContainer{
        position: fixed;
        float: left;
        margin-left: 10px;
        border: solid 4px green;
        
        height: var(--profile-height);
        width: var(--profile-width);
    }
    
    .profileInfo{
        width: var(--profile-width);
        text-align: center;

        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .profilePic{
        max-width: 500px;
        height: 100px;
        border-radius: 50%;
    }

    .profileUser{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /*font-weight: bold;*/
        font-size: 4ex;
        margin: 0;
    }

    .profileBio{
        margin-top: 7;
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2.5ex;

        text-align: left;
    }

    .repoContainer{
        height: 100%;
    }

    .repos{
        border: solid 4px red;
        margin-left: var(--repositories-magin-left);
        columns: 2;
        column-gap: 40px;
        padding: 20px;
    }

    .divRepo{
        margin-bottom: 20px;
        border: solid 4px blue;
        
        height: 100px;
    }

    .divRepo h3{
        /*font-size: 20em;*/
    }
}
