body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profileInfo{
    text-align: center;

    position: fixed;
    
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 0%);
}

.profilePic{
    max-width: 500px;
    height: 100px;
    border-radius: 50%;
}

/*Desktop*/
@media only screen and (min-width: 768px){
    .profileInfo{
        text-align: center;

        position: fixed;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, 0%);
    }

    .profilePic{
        max-width: 500px;
        height: 100px;
        border-radius: 50%;
    }

    .profileUser{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        margin: 0;
    }

    .profileBio{
        margin-top: 7;
    }
}
